@charset "UFT-8";

@media (max-width: 1441px) {
    .main {
        margin:  15px 0px;
    }

    .main .projetos-container .projetos {
        width: 257px;
        border-radius: 20px;
    }

    .main .projetos-container .projetos h2 {
        width: 257px;
        font-size: 1.4rem;
    }

    .main .projetos-container .projetos .titulo {
        height: 50px;
        border-radius: 0px 0px 20px 20px;
    }

    .main .projetos-container .projetos a .tam-imagem {
        height: 257px;
        width: 257px;
        border-radius: 20px 20px 0px 0px;
    }
}