@charset "UTF-8";

@media (max-width: 2561px) {
    .main {
        margin: 39px;
    }

    .main .projetos-container .projetos {
        width: 400px;
        border-radius: 30px;
    }

    .main .projetos-container .projetos h2 {
        width: 400px;
        font-size: 2.2rem;
    }

    .main .projetos-container .projetos .titulo {
        height: 70px;
        border-radius: 0px 0px 30px 30px;
    }

    .main .projetos-container .projetos a .tam-imagem {
        height: 400px;
        width: 400px;
        border-radius: 30px 30px 0px 0px;
    }

    .footer h4 {
        font-size: 4rem;
    }

    .footer .social a i {
        font-size: 4.8rem;
    }
}