@charset "UTF-8";

@media (max-width: 426px) {
    .main .projetos-container {
        grid-template-columns: repeat(2, minmax(200px, 1fr));
        grid-row-gap: 20px;
        margin-right: 16px;
    }

    .main .projetos-container .projetos {
        width: 180px;
        border-radius: 15px;
    }

    .main .projetos-container .projetos h2 {
        width: 180px;
        font-size: 1.4rem;
    }

    .main .projetos-container .projetos .titulo {
        height: 40px;
        border-radius: 0px 0px 15px 15px;
    }

    .main .projetos-container .projetos a .tam-imagem {
        height: 180px;
        width: 180px;
        border-radius: 15px 15px 0px 0px;
    }

    .footer h4 {
        font-size: 2.2rem;
    }

    .footer .social a {
        margin: 15px 20px;
    }

    .footer .social a i {
        font-size: 3.6rem;
    }
}