@charset "UTF-8";

@media (max-width: 769px) {
    .main {
        /* margin: 31px 0px; */
    }
    .main .projetos-container {
        margin-right: 0px;
    }

    .main .projetos-container .projetos {
        width: 160px;
        border-radius: 15px;
    }

    .main .projetos-container .projetos h2 {
        width: 160px;
        font-size: 1.4rem;
    }

    .main .projetos-container .projetos .titulo {
        height: 40px;
        border-radius: 0px 0px 15px 15px;
    }

    .main .projetos-container .projetos a .tam-imagem {
        height: 160px;
        width: 160px;
        border-radius: 15px 15px 0px 0px;
    }
}