/* SECTION HOME */
.main {
    background: url(../img/section-home/espaco-sideral.jpg) no-repeat center;
    background-size: cover;
    height: calc(100vh - 13vh);
}

.main .home {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: calc(100vh - 11vh);
    max-width: 1200px;
    margin: 0 auto;
}

.main .home .left .title {
    font-size: 6rem;
    color: #fff;
    width: 35rem;
    line-height: 6rem;
    margin-bottom: 2rem;
}

.main .home .left .title .developer {
    font-size: 7rem;
    color: #00E9F9;
}

.main .home .left .description {
    font-size: 2rem;
    color: #fff;
    width: 52rem;
    line-height: 2.5rem;
    margin-bottom: 2rem;
}

.main .home .left .btn-contact {
    background-color: #00E9F9;
    font-size: 1.7rem;
    padding: 1rem 4.5rem;
    border-radius: 5rem;
    border: none;
    transition: all .3s ease-in-out;
    cursor: pointer;
}

.main .home .left .btn-contact:hover {
    box-shadow: 0px 0px 20px 10px #1CBDF442;
    -webkit-box-shadow: 0px 0px 20px 10px #1CBDF442;
    -moz-box-shadow: 0px 0px 20px 10px #1CBDF442;
}

.main .home .right .image-author {
    background: rgb(0, 233, 249);
    background: linear-gradient(180deg, rgba(0, 233, 249, 1) 0%, rgba(25, 170, 209, 1) 50%, rgba(50, 107, 168, 1) 100%);
    border-radius: 50%;
    width: 40rem;
}