.main {
    min-height: calc(100vh - 100px);
    display: flex;
    flex-direction: column;
}

.main .home {
    background: url(../img/section-home/espaco-sideral.jpg) no-repeat center;
    background-size: cover;
    width: 100%;
    height: 100%;
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8rem;
    max-width: 100%;
    margin: 0 auto;
}

.main .home .left .title {
    font-size: 6rem;
    color: #fff;
    width: 35rem;
    line-height: 6rem;
    margin-bottom: 2rem;
}

.main .home .left .title .developer {
    font-size: 7rem;
    color: #00E9F9;
}

.main .home .left .description {
    font-size: 2rem;
    color: #fff;
    width: 52rem;
    line-height: 2.5rem;
    margin-bottom: 2rem;
}

.main .home .left .btn-contact {
    background-color: #00E9F9;
    font-size: 1.7rem;
    padding: 1rem 4.5rem;
    border-radius: 5rem;
    border: none;
    transition: all .3s ease-in-out;
    cursor: pointer;
}

.main .home .left .btn-contact:hover {
    box-shadow: 0px 0px 20px 10px #1CBDF442;
}

.main .home .right {
    width: 400px;
    height: 400px;
}

.main .home .right .image-author {
    object-fit: cover;
    object-position: top;
    height: 100%;
}

.main .home .right .image-author {
    background: rgb(0, 233, 249);
    background: linear-gradient(180deg, rgba(0, 233, 249, 1) 0%, rgba(25, 170, 209, 1) 50%, rgba(50, 107, 168, 1) 100%);
    border-radius: 50%;
    width: 40rem;
}

@media screen and (max-width: 1250px){
    .main .home {
        flex-direction: column;
        padding: 4rem 2rem;
    }

    .main .home .left,
    .main .home .right {
        max-width: 100%;
        width: 100%;
        text-align: center;
    }

    .main .home .left .title,
    .main .home .left .description,
    .main .home .left .title .developer {
        display: block;
        max-width: 100%;
        width: 100%;
    }
    
    .main .home .left .title .developer,
    .main .home .left .title {
        font-size: 5rem;
    }
}

@media screen and (max-width: 425px){
    .main .home .left .title .developer,
    .main .home .left .title {
        font-size: 4rem;
    }

    .main .home .right .image-author {
        width: 100%;
        max-width: 100%;
    }
}