/* HEADER */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    width: 100%;
    max-width: 1200px;
    height: 100px;
}

.header .navbar {
    max-width: 1200px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* margin: 0 auto; */
    padding: 2rem 0;
}

.header .logo {
    height: 7rem;
}

.header .navbar .list_navegation {
    display: flex;
    gap: 5rem;
    margin-right: 5rem;
}

.header .navbar .list_navegation li {
    font-size: 2.2rem;
    color: #fff;
    cursor: pointer;
}

.header .navbar .list_navegation li:hover {
    text-decoration: underline;
}

.header .navbar .list_navegation {
    display: flex;
}

.header .navbar label .menu {
    display: none;
    width: 60px;
    height: 36px;
    align-self: flex-end;
}

.header .navbar label {
    display: flex;
    flex-direction: column;
}

.header .navbar label .menu .hamburguer {
    background-color: #fff;
    position: relative;
    display: block;
    width: 30px;
    height: 2px;
    top: 5px;
    left: 26px;
    transition: 0.5s ease-in-out;
}

.header .navbar label .menu .hamburguer:before {
    background-color: #fff;
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    transition: 0.2s ease-in-out;
    top: -10px;
}

.header .navbar label .menu .hamburguer:after {
    background-color: #fff;
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    transition: 0.2s ease-in-out;
    bottom: -10px;
}

.header .navbar input {
    display: none;
}

.header .navbar input:checked ~ label .hamburguer {
    transform: rotate(45deg);
}

.header .navbar input:checked ~ label .hamburguer:before {
    transform: rotate(90deg);
    top: 0;
    transition: 0.2s ease-in-out;
}

.header .navbar input:checked ~ label .hamburguer::after {
    transform: rotate(90deg);
    bottom: 0;
    transition: 0.2s ease-in-out;
}

@media screen and (max-width: 1200px){
    .header {
        padding-left: 2rem;
        padding-right: 2rem;
    }

    .header .navbar .list_navegation {
        margin-right: 0rem;
    }
}

@media (max-width: 900px) {
    .header .navbar {
        display: block;
    }

    .header .navbar label .menu {
        display: block;
    }

    .header .navbar .list_navegation {
        display: none;
        margin-right: 0;
    }

    .header .navbar input#menu-hamburguer:checked ~ .list_navegation {
        display: block;
    }

    .header .navbar {
        position: absolute;
        top: 8px;
        right: 20px;
        z-index: 1;
    }

    .header .navbar .list_navegation {
        width: 200px;
        background-color: #060606;
        padding: 20px;
    }

    .header .navbar .list_navegation a {
        text-align: center;
        padding: 20px;
        display: block;
    }
}