@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}
::-webkit-scrollbar {
    width: 0px;
    height: 0px;
}
img {
    width: 100vw;
    display: block;
}
a {
    display: block;
    background-color: black;
    padding: 20px;
    text-align: center;
    font-weight: bolder;
    text-decoration: none;
    color: white
}
a:hover {
    background-color: rgb(54, 54, 54);
}