/* HEADER */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    width: 100%;
    max-width: 1200px;
    min-height: 11vh;
}

.header .navbar {
    max-width: 1200px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* margin: 0 auto; */
    padding: 2rem 0;
}

.header .logo {
    height: 7rem;
}

.header .navbar .list_navegation {
    display: flex;
    gap: 5rem;
    margin-right: 5rem;
}

.header .navbar .list_navegation li {
    font-size: 2.2rem;
    color: #fff;
    cursor: pointer;
}

.header .navbar .list_navegation li:hover {
    text-decoration: underline;
}

/* SECTION HOME */
.main {
    background: url(../img/section-home/espaco-sideral.jpg) no-repeat center;
    background-size: cover;
    height: calc(100vh - 13vh);
}

.main .home {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: calc(100vh - 11vh);
    max-width: 1200px;
    margin: 0 auto;
}

.main .home .left .title {
    font-size: 6rem;
    color: #fff;
    width: 35rem;
    line-height: 6rem;
    margin-bottom: 2rem;
}

.main .home .left .title .developer {
    font-size: 7rem;
    color: #00E9F9;
}

.main .home .left .description {
    font-size: 2rem;
    color: #fff;
    width: 52rem;
    line-height: 2.5rem;
    margin-bottom: 2rem;
}

.main .home .left .btn-contact {
    background-color: #00E9F9;
    font-size: 1.7rem;
    padding: 1rem 4.5rem;
    border-radius: 5rem;
    border: none;
    transition: all .3s ease-in-out;
    cursor: pointer;
}

.main .home .left .btn-contact:hover {
    box-shadow: 0px 0px 20px 10px #1CBDF442;
    -webkit-box-shadow: 0px 0px 20px 10px #1CBDF442;
    -moz-box-shadow: 0px 0px 20px 10px #1CBDF442;
}

.main .home .right .image-author {
    background: rgb(0, 233, 249);
    background: linear-gradient(180deg, rgba(0, 233, 249, 1) 0%, rgba(25, 170, 209, 1) 50%, rgba(50, 107, 168, 1) 100%);
    border-radius: 50%;
    width: 40rem;
}

/* SECTION SOBRE */
.about {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1200px;
    margin: 0 auto;
    padding: 4rem 0;
}

.about .left .title_about {
    color: #00E9F9;
    font-size: 6rem;
    text-decoration: underline;
    margin-bottom: 2rem;
}

.about .left .description_about {
    color: #fff;
    font-size: 2.2rem;
    max-width: 59.2rem;
    text-align: justify;
}

.about .right {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 3rem;
}

.about .right .container_info {
    background-color: #1CBDF4;
    border-radius: 2rem;
    padding: 5rem 3rem;
    display: flex;
    flex-direction: column;
    gap: .7rem;
}

.about .right .container_info .date_of_birth {
    font-size: 2.2rem;
}

.about .right .container_btns {
    display: flex;
    justify-content: space-around;
    width: 100%;
}

.about .right .container_btns .btn {
    background-color: #1CBDF4;
    padding: 1rem 5.2rem;
    border: none;
    border-radius: 5rem;
    transition: all .3s ease-in-out;
    cursor: pointer;
}

.about .right .container_btns .btn:hover {
    box-shadow: 0px 0px 30px 10px #1CBDF442;
    -webkit-box-shadow: 0px 0px 30px 10px #1CBDF442;
    -moz-box-shadow: 0px 0px 30px 10px #1CBDF442;
}

.about .right .container_btns .btn svg {
    font-size: 6rem;
}

/* SECTION HABILIDADES */
.skill {
    max-width: 1200px;
    margin: 0 auto;
}

.skill .title-skill {
    font-size: 6rem;
    color: #00E9F9;
    text-decoration: underline;
    margin-top: 4rem;
    margin-bottom: 2rem;
}

.skill .container-skills {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    row-gap: 5rem;
    max-width: 75rem;
    margin: 0 auto;
    padding-bottom: 4rem;
}

.skill .container-skills .container-skill {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    background-color: #326BA8;
    color: #00E9F9;
    width: 20rem;
    height: 8.4rem;
    border-radius: 1rem;
}

.skill .container-skills .container-skill .technology {
    font-size: 2rem;
    font-weight: 300;
}

.skill .container-skills .container-skill svg,
.skill .container-skills .container-skill .devicon-typescript-plain,
.skill .container-skills .container-skill .devicon-ruby-plain {
    font-size: 5rem;
}

/* SECTION PROJETOS */
.projects {
    max-width: 1200px;
    margin: 0 auto;
}

.projects .projects-title {
    font-size: 6rem;
    color: #00E9F9;
    text-decoration: underline;
    margin: 4rem 0;
}

.projects .container-projects {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
    gap: 2rem;
    padding-bottom: 4rem;
}

.projects .container-projects .container-project {
    display: flex;
    align-items: center;
    gap: 1rem;
    min-width: 38rem;
}

.projects .container-projects .container-project .image-project {
    width: 18rem;
    height: 18rem;
    border: 3px solid #00E9F9;
    border-radius: 2rem;
}

.projects .container-projects .container-project .project-info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 1rem;
}

.projects .container-projects .container-project .project-info .project-title {
    font-size: 2.5rem;
    color: #fff;
    max-width: 19rem;
}

.projects .container-projects .container-project .project-info .project-info {
    font-size: 1.5rem;
    color: #fff;
    overflow-y: auto;
    height: 6rem;
}

.projects .container-projects .container-project .project-info .container-btn .btn {
    font-size: 1.8rem;
    padding: .7rem 1.5rem;
    background: rgb(0,233,249);
    background: linear-gradient(90deg, rgba(0,233,249,1) 0%, rgba(30,157,200,1) 100%);
    border: none;
    border-radius: 1.2rem;
    cursor: pointer;
}

.projects .container-projects .container-project .project-info .container-btn .btn.disable {
    opacity: 0.3;
    cursor: default;
}

/* SECTION CONTATO */