@charset "UTF-8";

@media screen and (min-width:768px) {
    section#telefone {
        position: absolute;
        top: 45%;
        left: 50%;
        transform: translate(-50%, -50%);
    
        height: 630px;
        width: 367px;
        background: url(../image/frame-iphone.png) no-repeat top center;
    }
    
    iframe#tela {
        position: relative;
        top: 80px;
        left: 50px;
        width: 268px;
        height: 471px;
    }
}