@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400;700&display=swap');

:root {
    --fonte-padrao: 'Orbitron', sans-serif;
}

html {
    font-size: 62.5%;
}

body {
    background: black url(../image/fundo-espaço-sideral.jpg) no-repeat top center;
    background-size: cover;
    font-size: 1.6rem;
    display: grid;
    grid-template-areas: "main main main main"
                         "footer footer footer footer";
    grid-template-columns: repeat(4, 1fr);
}

/* MAIN */
.main {
    grid-area: main;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    margin: 20px 0px 20px 0px;
}

.main .projetos-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-row-gap: 30px;
}

.main .projetos-container .projetos {
    display: flex;
    flex-direction: column;
    width: 300px;
    margin: 0px 20px;
    text-align: center;
    border-radius: 25px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.514);
}

.main .projetos-container .projetos h2{
    font-family: var(--fonte-padrao);
    font-size: 2.2rem;
    text-transform: uppercase;
    width: 300px;
}

.main .projetos-container .projetos .titulo {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #D97E4A;
    height: 60px;
    padding: 10px 0px;
    border-radius: 0px 0px 25px 25px;
}

.main .projetos-container .projetos a .imagem {
    width: 100%;
    height: 100%;
}

.main .projetos-container .projetos a .tam-imagem {
    height: 300px;
    width: 300px;
    border-radius: 25px 25px 0px 0px;
    transition: 0.3s;
}

.main .projetos-container .projetos a .projeto-cordel {
    background: url(../image/projeto-cordel.png) no-repeat top center;
    background-size: cover;
}

.main .projetos-container .projetos a .projeto-hundle {
    background: url(../image/hundle-landing-page.png) no-repeat top center;
    background-size: cover;
}

.main .projetos-container .projetos a .projeto-android {
    background: url(../image/projeto-android.png) no-repeat top center;
    background-size: cover;
}

.main .projetos-container .projetos a .meu-site {
    background: url(../image/meu-site.png) no-repeat top center;
    background-size: cover;
}

.main .projetos-container .projetos a .landing-page {
    background: url(../image/landing-page.png) no-repeat top center;
    background-size: cover;
}

.main .projetos-container .projetos a .mini-portfolio {
    background: url(../image/mini-portfolio.png) no-repeat top center;
    background-size: cover;
}

.main .projetos-container .projetos a .pokedex {
    background: url(../image/pokedex.png) no-repeat top center;
    background-size: cover;
}

.main .projetos-container .projetos a:hover .imagem {
    opacity: 0.8;
}

/* FOOTER */
.footer {
    display: grid;
    grid-area: footer;
    background-color: #A8B8D2;
    font-family: var(--fonte-padrao);
    text-transform: uppercase;
}

.footer .footer-container {
    margin: 28px;
}

.footer h4 {
    text-align: center;
    margin: 15px 0px 15px 0px;
    font-size: 3rem;
}

.footer .social {
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer .social a {
    margin: 15px 25px 15px 25px;
}

.footer .social a i {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 4rem;
    height: 30px;
    width: 30px;
    transition: 0.3s;
}

.footer .social .fa-linkedin:hover {
    color: #0A66C2;
    background-color: #fff;
}

.footer .social .fa-github-square:hover {
    color: #fff;
    background-color: #272B33;
}

.footer .social .fa-instagram-square:hover {
    background-image: linear-gradient(#D40297, #E3002D, #F7BA21);
    color: #fff;
}